<div class="widget tag">
<h3 class="title"><%= __('links') %></h3>
    <ul class="entry">
        <li><a href="http://sou.la/blog/" title="吴志强's Blog">QPWOEIRU96</a></li>
        <li><a href="http://xuezhai.net/" title="诗人式工程师">明雪斋</a></li>
        <li><a href="http://www.zuoqianduan.com/" title="前端社区">做前端</a></li>
        <li><a href="http://www.laruence.com/" title="风雪之隅">风雪之隅</a></li>
        <li><a href="http://blog.csdn.net/heiyeshuwu" title="黑夜路人">黑夜路人</a></li>
        <li><a href="http://www.imsiren.com/" title="斯人博客">斯人博客</a></li>
    </ul>
</div>
